<html lang="en">
        <%- include('./head')%>
    <body>
        <%- include('./header')%>
        <%- include('./content')%>
    <div class="bg-blur-black"></div>
    <%- include('./footer')%>
    <%- include('./js')%>
    </body>
</html>